body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_wrapper {
  padding: 0;
  margin: 50px auto;
  width: 50%;
}
.app_wrapper h1 {
  text-align: center;
}
.todo_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.todo_item button {
  border-radius: 50%;
  background-color: red;
  color: #fff;
}
.todo_item input {
  margin-right: 1rem;
}
.todo_add_button {
  background-color: #fff;
  color: #007bff;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  margin: 1rem 0.5rem;
  border: 1px solid #b8bcc0;
  transition: 0.5s ease-in-out;
}
.todo_add_button:hover {
  background-color: #007bff;
  color: #fff;
}
.checked {
  text-decoration: line-through;
}
