body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_wrapper {
  padding: 0;
  margin: 50px auto;
  width: 50%;
}
.app_wrapper h1 {
  text-align: center;
}
.todo_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.todo_item button {
  border-radius: 50%;
  background-color: red;
  color: #fff;
}
.todo_item input {
  margin-right: 1rem;
}
.checked {
  text-decoration: line-through;
}

/* Pagination styles */
/* .todo_pagination {
  width: 50%;
  margin: 20px auto;
}
.pagination_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pagination_item {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all ease-in-out 0.3s;
}
.pagination_item:hover {
  color: #188cff;
  border-color: #125da8;
}
.pagination_nav {
  margin: 0.3rem;
  transition: all ease-in-out 0.3s;
}
.pagination_nav:last-child {
  margin-left: auto;
}
.pagination_nav:hover {
  color: #188cff;
  cursor: pointer;
} */
